@using Microsoft.EntityFrameworkCore.Metadata.Internal
@{
    Layout = "_Layout";

    var night = ViewBag.CurrentNight as Night;
    var shifts = ViewBag.CurrentShifts as List<Shift>;
}



<h3>@night.Day - @night.Date</h3>

@if (shifts != null && shifts.Any())
{
    @foreach (var s in shifts)
    {   
        <div class="card m-2">
            <div class="card-header">
                <div class="row">
                    <div class="col">
                        <h5>@s.TimeWindow</h5>
                    </div>
                    <div class="col">
                        <a class="btn btn-secondary float-end" asp-controller="Home" asp-action="EditShift" asp-route-id="@s.ShiftId">Edit✏️</a>
                    </div>
                </div>
                
            </div>

            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <table>
                            <tr>
                                <p>Parent: @s.Parent</p>
                            </tr>
                            <tr>
                                <p>Hours Kaleia Slept: @s.BabyHours</p>
                            </tr>
                            <tr>
                                <td><a asp-controller="Home" asp-action="AddDiaperChange" asp-route-id="@s.ShiftId" class="btn btn-primary">Add Diaper Change🚽</a></td>
                                <td><a class="btn btn-primary">Add Pump Session🍼</a></td>
                            </tr>
                        </table>
                    </div>
                    <div class="col">
                        <table class=" table table-striped">
                            <thead>
                            <th>Time</th>
                            <th>Poop</th>
                            </thead>
                            <tbody>
                                @foreach (var diaperchange in s.DiaperChanges)
                                {
                                    <tr>@diaperchange.Time</tr>
                                    <tr>@diaperchange.Poop</tr>
                                }
                            <tr></tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                

            </div>

        </div>  
}

}
else
{
    <p>No shifts are created yet for this night!</p>
}

<a asp-controller="Home"  asp-route-id="@night.NightId" asp-action="AddShift" class="btn btn-primary">Add Shift</a>